<div style="text-align: justify;">
  <strong>
    <div style="font-size: 3em;" align="center" ><%= @blog.title.humanize%></div>
  </strong>
  <br>
  <div class="jumbotron">
    <strong>
      Body: <%= @blog.body%>
    </strong>
    <br>
    <br>
    <div style="float:left;">
      <% if !like_exist?(@blog.id) %>
        <%= button_to 'Like', blog_likes_path(@blog), method: :post , class:"btn btn-primary"%>
      <% else %>
        <%= button_to 'Unlike', blog_likes_path(@blog), method: :delete , class:"btn btn-primary"%>
      <% end %>
        <%= @blog.likes.count %> <%= (@blog.likes.count) == 1 ? 'Like' : 'Likes'%>
    </div>
    <%if can? :update && :destroy, @blog%>
      <%= button_to 'Edit',edit_blog_path(@blog), class:"btn btn-primary"%>
      <%= button_to 'Delete',blog_path(@blog), method: :delete, data: { confirm: 'Are you sure you want to delete this blog?'}, class:"btn btn-primary"%>
    <%end%>
  </div>
</div>
<%#binding.pry%>
<h2>Comments</h2>
<% @blog.comments.each do |comment| %>
  <p>
  	<strong>UserName</strong>
  	<%= comment.user.username %>
  </p>
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>
 

<a href="javascript:void(0)" id="commentlink">Add Comment</a>

<div id="formdisplay">
	<h2>Add a comment:</h2>
	<%= form_with(model: [ @blog, @blog.comments.build ], local: true) do |form| %>
	  
		<p>
	    	<%= form.label :body %><br>
	    	<%= form.text_area :body %>
	  	</p>
	  	<p>
	    	<%= form.submit %>
	  	</p>
	<% end %>
	<a href="javascript:void(0)" id="close">Close</a>
</div>

<script type="text/javascript">
  $('document').ready(function(){
      var link = document.getElementById('commentlink');
      var formdisplay  =   document.getElementById('formdisplay');
      var close = document.getElementById('close');  
      link.onclick = function(){
          formdisplay.style.display = 'block'
      }  
      close.onclick = function(){
          formdisplay.style.display = 'none';
      }});
</script>