<h2 align="center">Listing all Notification</h2>
<div class="jumbotron">
<br>
<table class="table table-striped">
	  <% @notifications.each do |notification| %>
	  <tr>
	  	<td>
	    <strong><%= notification.notifiable.user.username%></strong>
	    <%= notification.notifiable_type %> on your blog:
	    <%= link_to notification.blog.title.capitalize , blog_path(notification.blog)%>
	</td>
    <td>
		<%if notification.read == false%>
	    	<%= link_to '<span class="glyphicon glyphicon-ok"></span>mark as read'.html_safe, change_path(notification)%>
	    <%else%>
	    	<%= link_to 'already read'%>
	    <%end%>
	</td>
	</tr>
  	  <%end%>
</table>
</div>